/* 555 line  */
/* start main rules */
.cont {
  width: 1170px;
  margin: auto;
}

.clearfix {
  clear: both;
}

/* end main rules */
/* start header*/
.header .slider {
  background-image: url(../images/sliderr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 630px;
}
.header .slider .image {
  height: 630px;
}

.header .slider .intro {
  padding: 250px;
  text-align: center;
  height: 600px;
  color: #fff;
}

.header .slider .intro h2 {
  margin: 0px auto;
  font-size: 60px;
  width: 400px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 5px 0;
  color: #fff;
}

.header .slider .intro button {
  background: none;
  margin-top: 30px;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.header .navbar {
  background-color: #252f31;
  color: #fff;
  overflow: hidden;
  text-transform: capitalize;
}

.header .navbar h2 {
  color: #fff;
}

.header .navbar h2 span {
  color: #2ecc71;
}

.header .navbar ul {
  list-style: none;
  padding-left: 0px;
  overflow: hidden;
  float: right;
}

.header .navbar ul li {
  float: left;
  padding: 10px;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.header .navbar ul li a:hover {
  color: #2ecc71;
}

/* end header*/
/* start features*/
.features {
  overflow: hidden;
  padding: 40px 0px 50px 0px;
}

.features .feat {
  width: 33.3333%;
  height: 150px;
}

.features .feat p {
  padding: 10px 5px 10px 0;
}

/* end features*/
/* start about me */
.about {
  overflow: hidden;
  background-color: #f2f2f2;
}

.about .image {
  width: 40%;
}

.about .image img {
  width: 100%;
}

.about .info {
  width: 60%;
  margin-top: -25px;
}

.about .info h2 {
  margin: 35px 0 20px 40px;
}

.about .info > p {
  margin: 0 0 10px 40px;
}

.about .info > p:last-of-type {
  margin-top: 10px;
}

.about .info .hobbies {
  overflow: hidden;
  margin: 4px 0 0 40px;
}

.about .info .hobbies .conte {
  width: 50%;
  overflow: hidden;
}

.about .info .hobbies .conte .icon {
  width: 14%;
  margin-right: 5%;
}

.about .info .hobbies .conte .icon img {
  max-width: 100%;
  margin: 10px 10px 0 0;
}

.about .info .hobbies .conte .text {
  width: 81%;
}

.about .info .hobbies .conte .text p {
  margin-bottom: 5px;
}

/* end about me*/
/* start my skills  */
.my-skills {
  padding: 30px 0px;
  overflow: hidden;
}

.my-skills .skill,
.my-skills .progress {
  width: 50%;
}

.my-skills .skill h2 {
  margin: 35px 0 20px 40px;
}

.my-skills .skill p {
  margin: 0 0 10px 40px;
}

.my-skills .skill p:last-of-type {
  margin-top: 10px;
}

.my-skills .skill button {
  margin: 20px 0 0 40px;
}

.my-skills .progress .technic {
  margin-left: 40px;
}

.my-skills .progress .technic div {
  background-color: #f2f2f2;
  height: 25px;
}

.my-skills .progress .technic div span {
  background-color: #2ecc71;
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: right;
  color: #fff;
  font-weight: bold;
}

/* end  my skills */
/* start resume*/
.resume {
  background-color: #f2f2f2;
  padding: 50px 30px;
  text-align: center;
}

.resume p {
  padding: 0 130px;
}

.resume button {
  margin: 15px 0 0 0;
  padding: 10px 60px;
}

/* end resume*/
/* start my education  */
.my-education {
  padding: 30px 0px;
  overflow: hidden;
}

.my-education hr {
  border: 1px solid #d3d2d2;
}

.my-education .main {
  width: 50%;
  margin-right: 5%;
}

.my-education .exp {
  width: 45%;
}

.my-education .exp h2 {
  margin-top: 80px;
  margin-bottom: 5px;
}

.my-education .exp span {
  display: block;
  margin-bottom: 5px;
}

.my-education .exp span:last-of-type {
  background-color: #2ecc71;
  color: #fff;
  display: inline-block;
  padding: 8px;
}

.my-education .exp hr {
  margin: 20px 0;
}

.my-education .main h2 {
  margin: 35px 0 20px 40px;
}

.my-education .main p {
  line-height: 1.6;
  margin: 0 0 10px 40px;
  color: #666;
}

.my-education .main p:last-of-type {
  margin-top: 10px;
}

/* end  my education */
/* start test*/
.test {
  background-color: #f2f2f2;
  padding: 50px 120px 70px 120px;
  text-align: center;
}

.test p {
  padding: 0 120px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}

.test ul {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.test ul li {
  width: 15px;
  height: 15px;
  border: 1px solid #2ecc71;
  display: inline-block;
  cursor: pointer;
}

.test ul li.active {
  background-color: #2ecc71;
}

.test ul li:hover {
  background-color: #2ecc71;
}

/* end test*/
/* start portfolio*/
.portfolio {
  padding: 50px 0px 70px 0;
  text-align: center;
}

.portfolio p {
  margin: 0 0 40px 0;
}

.portfolio .workes {
  overflow: hidden;
}

.portfolio .workes > div {
  float: left;
  width: 33.3333333%;
  margin: 0 0 10px 0;
}

.portfolio .workes > div img {
  width: 200px;
  height: 200px;
}

.portfolio .workes > div img {
  width: 92%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* end portfolio*/
/* start conact */
.contact {
  background-color: #252f31;
  overflow: hidden;
  padding: 50px 0 70px 0;
}

.contact .info {
  width: 50%;
  margin: 0 5% 0 0;
}

.contact h2 {
  color: #fff;
  margin: 0px 0 0 40px;
}

.contact p {
  color: #6a6e71;
  margin: 0px 0 0 40px;
}

.contact p span {
  color: #fff;
}

.contact .form {
  width: 45%;
}

.contact .form label {
  display: block;
  color: #666;
  margin: 10px 0;
}

.contact .form input[type="text"] {
  background-color: #485557;
  color: #fff;
  padding: 5px;
  border: 0;
  width: 80%;
  margin: 0 0 10px 0;
}

.contact .form textarea {
  background-color: #485557;
  color: #fff;
  padding: 5px;
  border: 0;
  width: 80%;
  margin: 0 0 10px 0;
  height: 300px;
}

.contact .form input[type="submit"] {
  background-color: #192e22;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  margin: 10px 0 0 0;
  cursor: pointer;
}

/* end conact */
/* start footer */
.footer {
  background-color: #191e22;
  color: #6a6e71;
  padding: 20px 0;
  text-align: center;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer ul li img {
  width: 25px;
  cursor: pointer;
}

/* end footer */
/* start my fremwork*/
.my-button {
  background: none;
  border: 3px solid #2ecc71;
  color: #2ecc71;
  padding: 10px 30px;
  cursor: pointer;
}

.fl-left {
  float: left;
}

p {
  line-height: 1.7;
  color: #777;
}

h2,
h3 {
  color: #777;
}

/* end my fremwork*/
